<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
<h1>Add student</h1>
<form class="form" th:method="POST" th:object="${accountForm}" th:action="@{/anyController/addStudent}">
    <input type="text" class="input" placeholder="Username" th:field="*{username}">
    <input type="text" class="input" placeholder="Name" th:field="*{name}">
    <input type="text" class="input" placeholder="Surname" th:field="*{surname}">
    <input type="password" class="input" placeholder="Password" th:field="*{password}">
    <input type="submit" class="submit" value="Submit">
</form>
</body>
</html>