<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3">
    <div th:each="book1 : ${book}" class="alert alert-info mt-0">
        <h4 th:text="${book1.name}"/>
        <p><b>Author: </b><span th:text="${book1.author}"/></p>
        <p><b>Count: </b><span th:text="${book1.count}"/></p>
        <a th:href="'/book/' + ${book1.isbn} + '/edit'" class="btn btn-warning">Update book</a>
    </div>
</div>
</body>
</html>