<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-3">
    <h3>List of Books</h3>
    <div th:each="book : ${books}" th:if="${book.deleted == false}" class="alert alert-info mt-0">
        <a th:href="'/book/' + ${book.isbn}"><h4 th:text="${book.name}"/></a>
    </div>
</div>
<div class="container mt-3">
    <h3>List of Users</h3>
    <div th:each="user : ${users}" th:if="${user.deleted == false}" class="alert alert-info mt-0">
        <a th:href="'/user/' + ${user.username}"><h4 th:text="${user.username}"/></a>
    </div>
</div>
</body>
</html>