<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Edit Student</h1>
<form class="form" th:method="POST" th:object="${user}">
    <input type="text" class="input" placeholder="Name" th:field="*{name}">
    <input type="text" class="input" placeholder="Surname" th:field="*{surname}">
    <input type="password" class="input" placeholder="Password" th:field="*{password}">
    <input type="submit" class="submit" value="Update">
</form>
</body>
</html>